*{
    margin: 0;
    padding: 0;
    background-color: darkcyan;
    border-radius: border-box;
}
.logo{

    margin: 50px 70px;
    font-size: 30px;
    font-style: italic;
    font-family: 'Courier New', Courier, monospace;
}
.navbar ul{
           display: flex;
          
           justify-content: right;
           
           
}
.navbar li{

    padding: 30px;
}
.navbar{
          margin: 30px 50px;
          margin-bottom: 7
}