body {
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url(img1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    perspective: 1000px;
}

.card {
    width: 300px;
    height: 400px;
    transform-style: preserve-3d;
    transition: transform 0.5s;
}

.card:hover {
    transform: rotateY(180deg);
}

.card__side {
    position: absolute;
    width: 105%;
    height: 105%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid #ccc;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #fff;
}

.card__side--front {
    transform: rotateY(0deg);
    background-image: url(img1.jpg);
    background-position: center;
    background-size: cover;
}

.card__side--back {
    transform: rotateY(180deg);
    background-color: transparent;
   
}

.card__heading {
    font-size: 30px;
    margin-bottom: 20px;
    
}

.card__form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
    
}

input {
    padding: 8px;
    margin-bottom: 25px;
}

button {
    padding: 15px;
    background-color: #3498db;
    border-radius: 15px;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #2980b9;
}

.card__message {
    font-size: 30px;
   color: #fff;
  
