



body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url(img3.jpg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    color:#fff;
    position: absolute;
}

header {
    background-color: transparent;
    padding: 10px;
    text-align: center;
    margin-top: ;
}

main {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.manu
 {
    background-color: transparent;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: 29%;
    margin-left: -20%;
    padding-top: 40px;
    height: 200px;
    width: 10%;
    position: absolute;
    z-index: 1;
    
   
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

li pre{

    font-size: 20px;
}

.player {
    text-align: center;
    margin-right: 33%;
    margin-top: 1%;
    margin-left: 32%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    width: 40%;
    height: 613px;
    background-color: black;

  
    
   
    
    
}

.album-cover {
    width: 150px;
    height: 150px;
    background-image: url(img2.jpg);
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    margin: 20px auto;
    height: 40%;
    width: 49%;
    
}

.song-info h3 {
    margin: 5px 0;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333333;
    position: fixed;
    bottom: 0;
    width: 100%;
}
